@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* font-family: 'Rubik', sans-serif; */


/* ========================================================================= */

/*  ======================
TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERY @ min-width 800px;
======================= */


/* ========================================================================= */
/* 1. GLOBAL */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(187, 192, 255, 1);

  background: rgb(14, 19, 35);
}

div,
h1,
h2,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ========================================================================= */
/* 2. TYPOGRAPHY */




.attribution {
  font-size: 11px; text-align: center;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/* ========================================================================= */
/* 3. LAYOUT */




/* ========================================================================= */
/* 4. MEDIA QUERY */